[submodule "deps/tlpp-sample-rest-documentation"]
	path = deps/tlpp-sample-rest-documentation
	url = https://github.com/totvs/tlpp-sample-rest-documentation.git
[submodule "deps/tlpp-sample-rest"]
	path = deps/tlpp-sample-rest
	url = https://github.com/totvs/tlpp-sample-rest.git
